body {
	max-width: 800px;
	margin: 3rem auto;
}

a {
	color: #000;
}
a:hover {
	color: #fff;
	background-color: #000;
}

ul, ol {
	margin: 0;
	padding: 0 1.5rem;
}

ul {
	list-style-type: square;
}

pre, code {
	padding: 0.1rem 0.25rem;
	background-color: whitesmoke;
	border-radius: 0.25rem;
	font-family: Consolas, monospace;
	font-weight: normal;
	color: black;
}

pre code {
	padding: 0;
	background: none;
}

.small {
	color: #b0b0b0;
	font-size: 1rem;
	font-weight: normal;
}
